body {
  background-color: black !important;
  /* width: 100%; */

  height: 500px;
}
.MuiAvatar-img {
  border-radius: 50%;
}
.meet-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.MuiAvatar-root {
  width: 96px !important;
  height: 96px !important;
  font-size: 45px !important;
  margin-bottom: 12px !important;
}
.card {
  margin-top: 30px;
  width: 30%;
}
@media screen and (max-width: 770px) {
  .meet-section {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    margin: auto;
    margin-top: 30px;
  }
}
.fav {
  cursor: pointer;
}
.favourite {
  color: white;
}
.fav-btn {
  display: flex;
  width: 10%;
  padding: 17px;
  border-radius: 12px;
  border: 2px solid;
  cursor: pointer;
}
.fav2 {
  color: white;
}

/* ADD TO CART */
.card {
}
.cart-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-cart {
  height: 150px;

  font-size: 22px;
  margin: 20px;
  margin-top: 50px;
  box-shadow: 1px 5px 13px 0px gray;
  border-radius: 10px;
}
.img-cart {
  margin-top: 23px;
  height: 148.5px;
  /* border-radius: 10px 0 0 10px; */
}
.btn-danger {
  margin-right: 15px;
}
